body{
    background-image:url("../pics/abstract.jpg");
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1,.upper-bar,.game-section{
    text-align: center;
    margin-right: auto;
}

h2,h3{
    display: inline;
    background-color: #ffaa22;
    border-radius: 20px;
}
.flags-left{
    margin-right: 10px;
}
img{
    width: 20px;
    height:20px;
}
.right-side-bar{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
}
.left-side-bar{
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}

.timer,.smiley,.flags-left{
    margin:auto;
}
.flags-left{
    margin-right: 15px;
}
.timer{
    margin-left: 15px;
}

.level {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.level:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.level:active {
	position:relative;
	top:1px;
}
.safe-click {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.safe-click:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.safe-click:active {
	position:relative;
	top:1px;
}


